# Exclude .env file
.env

# Exclude PyCharm project files
.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/

# macOS files
.DS_Store

# Logs
*.log

# Ignore dashboard datasets
app/dashboard/data/
app/dashboard/data/**
